@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@500;700&family=Poppins:wght@500;700&family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Akshar";
  font-size: 14px;
  max-width: 1445px;
  max-height: px;
  border: 1px solid;
  background-color: #ffffff;
}
body .wrapper {
  max-width: 943px;
  max-height: 4549px;
  border: 1px solid;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  body {
    height: 4510px;
  }
  body .wrapper {
    height: 4443px;
    margin: 65px 30px 90px 29px;
    position: relative;
  }
  body .wrapper header {
    height: 843px;
  }
  body .wrapper header .container {
    height: 688px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper header .container .navigation {
    height: 104px;
    position: relative;
  }
  body .wrapper header .container .navigation .nav__title {
    width: 124px;
    height: 104px;
    font-size: 47px;
    line-height: 58px;
    color: #000000;
    position: relative;
    top: -10px;
  }
  body .wrapper header .container .navigation .language__changer {
    width: 105px;
    height: 30px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 34px;
    line-height: 22px;
    color: #828282;
  }
  body .wrapper header .container .navigation .language__changer .border {
    width: 5px;
    height: 30px;
    position: relative;
    bottom: 2px;
    background-color: #070707;
  }
  body .wrapper header .container .navigation .language__changer a {
    color: #828282;
    text-decoration: none;
  }
  body .wrapper header .container .description {
    height: 44px;
  }
  body .wrapper header .container .description .description__text {
    width: 156px;
    height: 44px;
    position: relative;
    top: -3px;
    z-index: -1;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  body .wrapper header .container .picture {
    height: 478px;
  }
  body .wrapper main {
    height: 3030px;
  }
  body .wrapper main .first__section {
    height: 491px;
    background-color: #f6f6f6;
    padding-top: 81px;
  }
  body .wrapper main .first__section .section__about {
    height: 334px;
    text-align: center;
  }
  body .wrapper main .first__section .section__about .text__about {
    height: 261px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
    line-height: 21.83px;
    color: #000000;
    position: relative;
    top: 29px;
  }
  body .wrapper main .first__section .section__about h3 {
    font-size: 34px;
    line-height: 42px;
    color: #000000;
  }
  body .wrapper main .middle__section {
    height: 1421px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
  }
  body .wrapper main .middle__section .middle__section-wrapper {
    width: 228px;
    height: 1240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper main .middle__section .middle__section-wrapper h3 {
    position: relative;
    top: -3px;
    font-size: 34px;
    line-height: 42px;
    color: #000000;
  }
  body .wrapper main .middle__section .middle__section-wrapper .wrapper__text {
    position: relative;
    top: 31px;
    margin-bottom: 9px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  body .wrapper main .middle__section .middle__section-wrapper .middle__section-block {
    width: 166.46px;
    height: 206.29px;
    margin-top: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper main .middle__section .middle__section-wrapper .middle__section-block p {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
  }
  body .wrapper main .middle__section .middle__section-wrapper .middle__section-block .rating-result {
    height: 26px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .wrapper main .last__section {
    height: 1118px;
    background-color: #f6f6f6;
  }
  body .wrapper main .last__section .last__section-container {
    height: 956px;
    position: relative;
    top: 81px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper main .last__section .last__section-container .store__container {
    width: 100%;
    height: 234px;
  }
  body .wrapper main .last__section .last__section-container .store__link {
    position: relative;
    top: 31px;
  }
  body .wrapper main .last__section .last__section-container .store__link a {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
  body .wrapper main .last__section .last__section-container h3 {
    font-size: 34px;
    line-height: 42px;
    color: #000000;
  }
  body .wrapper footer {
    height: 569px;
  }
  body .wrapper footer .footer__container {
    height: 398px;
    position: relative;
    top: 81px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .wrapper footer .footer__container h3 {
    font-size: 34px;
    line-height: 42px;
    color: #000;
  }
  body .wrapper footer .footer__container p {
    font-size: 18px;
    line-height: 21px;
    color: #090909;
  }
  body .wrapper footer .footer__container form {
    width: 100%;
    height: 42px;
  }
  body .wrapper footer .footer__container form button {
    width: inherit;
    height: inherit;
    background-color: #000000;
    border: 0;
    border-radius: 50px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
  }
  body .wrapper footer .footer__container .icons {
    width: 100%;
    height: 41px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .wrapper footer .footer__container .footer__text {
    font-size: 18px;
    line-height: 22px;
    color: #828282;
  }
}